.description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 200px;
  padding-top: 30px;
}

.name {
  font-weight: bold;
}
